#containerRight {
    text-align: right;
  
    position: auto;
    left: 0;
    right: 15px;
    top: 90%;
    transform: translateY(-50%);
  }


#white{
    color: white;
}

#white50px{
    color: white;
    font-size: 50px;
}

#white25px{
    color: white;
    font-size: 25px;
}

#white50pxCentered{
    color: white;
    font-size: 30px;
    text-align: center;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

