<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      All About Cars
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <div id="containerCenterTop">
    <p id="strong">All About Cars</p>
  </div>

  <div id="containerCenter">
    <ion-button shape="round" color="secondary">Get Started</ion-button>
  </div>

  <div id="containerLeft">
    <ion-button shape="round" color="secondary">About Me</ion-button>
  </div>

  <div id="containerRight">
    <ion-button shape="round" color="secondary">About Me</ion-button>
  </div>






</ion-content>
