<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      All About Cars
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <div id="containerCenterTop">
    <p id="white">All About Cars</p>
  </div>

  <div id="containerCenter">
    <ion-button routerLink="/car-details" shape="round" color="secondary">Get Started</ion-button>
  </div>

  <div id="containerRight">
    <ion-button routerLink="/about-me" shape="round" color="secondary">About me</ion-button>
  </div>



  <ion-img src="/assets/sfVnjq.jpeg"></ion-img>






</ion-content>
